body{
    /* background-image: url('https:/s/images-ext-2.discordapp.net/external/Zz5qcA5rtT4xL3Oz1Y49b81Ty4rVitrjUnoDaeroSzI/%3Fv%3D1594312209/http/cdn.shopify.com/s/files/1/0305/4075/9177/products/Papel-de-Parede-Adesivo-Cozinha-Pizza-Preto-461426230_d42e9e8c-aaac-4958-91ae-a5e2f15cee64_grande.jpg?width=300&height=300'); */
    text-align: center;
    background-color: gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

div{
    font-family: Arial, Helvetica, sans-serif;

}